In [119]:
import pandas as pd
import datetime
from datetime import datetime, time, timedelta

In [2]:
df = pd.read_csv("E:\\Programming\\Python\\MapUp-Data-Assessment-F\\datasets\\dataset-1.csv")

In [3]:
df

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [4]:
df['id_1'].max()

831

In [5]:
df['id_2']

0      827
1      821
2      804
3      822
4      826
      ...
336    802
337    805
338    825
339    806
340    830
Name: id_2, Length: 341, dtype: int64

In [6]:
df['id_2'][df['rv'] == 4.14]

0     827
18    829
Name: id_2, dtype: int64

In [7]:
car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)

In [8]:
car_matrix.values[[range(len(car_matrix))]*2] = 0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19420\95554036.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  car_matrix.values[[range(len(car_matrix))]*2] = 0

In [9]:
car_matrix

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

In [10]:
def get_type_count(df):
    """
    Adds a new categorical column 'car_type' based on the 'car' values,
    calculates the count of occurrences for each 'car_type' category,
    and returns the result as a dictionary sorted alphabetically based on keys.

    Args:
        df (pandas.DataFrame): Input DataFrame

    Returns:
        dict: Count of occurrences for each 'car_type' category
    """
    # Add a new categorical column 'car_type' based on 'car' values
    df['car_type'] = pd.cut(df['car'], bins=[float('-inf'), 15, 25, float('inf')],
                            labels=['low', 'medium', 'high'], right=False)

    # Calculate the count of occurrences for each 'car_type' category
    type_counts = df['car_type'].value_counts().to_dict()

    # Sort the dictionary alphabetically based on keys
    sorted_type_counts = dict(sorted(type_counts.items()))

    return sorted_type_counts

In [11]:
get_type_count(df)

{'high': 56, 'low': 196, 'medium': 89}

In [81]:
def calculate_distance_matrix(file_path):
    # Read the dataset
    df = pd.read_csv(file_path)

    # Create a dictionary to store distances between IDs
    distances = {}

    # Iterate through rows to calculate distances
    for _, row in df.iterrows():
        id_start, id_end, distance = row['id_start'], row['id_end'], row['distance']

        # Add distance from start to end
        distances[(id_start, id_end)] = distance

        # Add bidirectional distance (end to start)
        distances[(id_end, id_start)] = distance

    # Create a list of unique IDs
    unique_ids = sorted(set(df['id_start'].unique()) | set(df['id_end'].unique()))

    # Initialize a 2D array to store cumulative distances
    distance_matrix = [[0.0] * len(unique_ids) for _ in range(len(unique_ids))]

    # Populate the distance matrix
    for i in range(len(unique_ids)):
        for j in range(i + 1, len(unique_ids)):
            id_i, id_j = unique_ids[i], unique_ids[j]

            # Check if distance is known between IDs
            if (id_i, id_j) in distances:
                distance_matrix[i][j] = distances[(id_i, id_j)]
                distance_matrix[j][i] = distances[(id_i, id_j)]

    # Convert the 2D array to a DataFrame
    distance_df = pd.DataFrame(distance_matrix, index=unique_ids, columns=unique_ids)

    return distance_df

In [101]:
def unroll_distance_matrix(df)->pd.DataFrame():
    """
    Unroll a distance matrix to a DataFrame in the style of the initial dataset.

    Args:
        df (pandas.DataFrame)

    Returns:
        pandas.DataFrame: Unrolled DataFrame containing columns 'id_start', 'id_end', and 'distance'.
    """
    # Write your logic here
    unrolled_df = pd.DataFrame(columns=['id_start', 'id_end', 'distance'])

    # Iterate through the rows of the DataFrame
    for i in range(len(df)):
        id_start = df.loc[i, 'id_start']
        id_end = df.loc[i, 'id_end']
        distance = df.loc[i, 'distance']

        # Append the row to the unrolled DataFrame
        unrolled_df = unrolled_df.append({'id_start': id_start, 'id_end': id_end, 'distance': distance},
                                         ignore_index=True)

    return unrolled_df

In [137]:
def calculate_distance_matrix(df):
    # Create a DataFrame to store the distance matrix
    unique_ids = sorted(set(df['id_start'].unique()) | set(df['id_end'].unique()))
    distance_matrix = pd.DataFrame(index=unique_ids, columns=unique_ids)

    # Initialize the matrix with 0s on the diagonal
    distance_matrix = distance_matrix.fillna(0)

    # Populate the matrix with cumulative distances
    for index, row in df.iterrows():
        start_id, end_id, distance = row['id_start'], row['id_end'], row['distance']
        distance_matrix.at[start_id, end_id] += distance
        distance_matrix.at[end_id, start_id] += distance

    return distance_matrix

In [138]:
def unroll_distance_matrix(distance_matrix):
    # Get the indices and columns from the distance matrix
    ids = distance_matrix.index

    # Initialize an empty list to store unrolled data
    unrolled_data = []

    # Iterate through the combinations of id_start and id_end
    for id_start in ids:
        for id_end in ids:
            # Skip combinations where id_start is equal to id_end
            if id_start != id_end:
                distance = distance_matrix.at[id_start, id_end]
                unrolled_data.append({'id_start': id_start, 'id_end': id_end, 'distance': distance})

    # Create a DataFrame from the unrolled data
    unrolled_df = pd.DataFrame(unrolled_data)

    return unrolled_df

In [163]:
def find_ids_within_ten_percentage_threshold(df, reference_value):
    # Filter the DataFrame based on the reference_value and non-zero distance
    reference_df = df[(df['id_start'] == reference_value) & (df['distance'] > 0)]

    average_distance = reference_df['distance'].mean()

    threshold_lower = 0.9 * average_distance
    threshold_upper = 1.1 * average_distance

    filtered_df = df[(df['id_start'] != reference_value) & (df['distance'] > 0) & (df['distance'] >= threshold_lower) & (df['distance'] <= threshold_upper)]

    result_ids = sorted(filtered_df['id_start'].unique())

    return result_ids

In [165]:
def calculate_toll_rate(df):
    # Define rate coefficients for each vehicle type
    rate_coefficients = {'moto': 0.8, 'car': 1.2, 'rv': 1.5, 'bus': 2.2, 'truck': 3.6}

    # Create columns for each vehicle type with default values of 0.0
    for vehicle_type in rate_coefficients.keys():
        df[vehicle_type] = 0.0

    # Calculate toll rates for each vehicle type
    for index, row in df.iterrows():
        distance = row['distance']

        for vehicle_type, rate_coefficient in rate_coefficients.items():
            df.at[index, vehicle_type] = distance * rate_coefficient

    return df

In [167]:
def calculate_time_based_toll_rates(df):
    # Define time intervals and corresponding discount factors
    time_intervals = [
        (time(0, 0, 0), time(10, 0, 0), 0.8),
        (time(10, 0, 0), time(18, 0, 0), 1.2),
        (time(18, 0, 0), time(23, 59, 59), 0.8)
    ]

    # Define discount factor for weekends
    weekend_discount_factor = 0.7

    # Create columns for start_day, start_time, end_day, and end_time
    df['start_day'] = ''
    df['start_time'] = pd.to_datetime('1900-01-01')
    df['end_day'] = ''
    df['end_time'] = pd.to_datetime('1900-01-01')

    # Calculate toll rates based on time intervals
    for index, row in df.iterrows():
        start_time = pd.to_datetime(row['start_time'])
        end_time = pd.to_datetime(row['end_time'])

        # Assign values for start_day, end_day, start_time, and end_time
        df.at[index, 'start_day'] = start_time.strftime('%A')
        df.at[index, 'end_day'] = end_time.strftime('%A')
        df.at[index, 'start_time'] = start_time.time()
        df.at[index, 'end_time'] = end_time.time()

        # Calculate toll rates based on time intervals and weekdays/weekends
        for interval_start, interval_end, discount_factor in time_intervals:
            if interval_start <= start_time.time() <= interval_end:
                df.at[index, 'distance'] *= discount_factor
                break

        if start_time.weekday() >= 5 or end_time.weekday() >= 5:  # Check if it's a weekend
            df.at[index, 'distance'] *= weekend_discount_factor

    return df

In [169]:
df = pd.read_csv("E:\\Programming\\Python\\MapUp-Data-Assessment-F\\datasets\\dataset-3.csv")
#print(df.columns)
distance_matrix  = calculate_distance_matrix(df)
unrolled_result = unroll_distance_matrix(distance_matrix)
reference_value = 1001400
result_within_threshold = find_ids_within_ten_percentage_threshold(unrolled_result, reference_value)
result_with_toll_rates = calculate_toll_rate(unrolled_result)
result_with_time_based_toll_rates = calculate_time_based_toll_rates(unrolled_result)
print(result_with_time_based_toll_rates)

      id_start   id_end  distance  moto    car     rv    bus  truck start_day  \
0      1001400  1001402      7.76  7.76  11.64  14.55  21.34  34.92    Monday
1      1001400  1001404      0.00  0.00   0.00   0.00   0.00   0.00    Monday
2      1001400  1001406      0.00  0.00   0.00   0.00   0.00   0.00    Monday
3      1001400  1001408      0.00  0.00   0.00   0.00   0.00   0.00    Monday
4      1001400  1001410      0.00  0.00   0.00   0.00   0.00   0.00    Monday
...        ...      ...       ...   ...    ...    ...    ...    ...       ...
1801   1004356  1001470      0.00  0.00   0.00   0.00   0.00   0.00    Monday
1802   1004356  1001472      0.00  0.00   0.00   0.00   0.00   0.00    Monday
1803   1004356  1001488      3.20  3.20   4.80   6.00   8.80  14.40    Monday
1804   1004356  1004354      1.60  1.60   2.40   3.00   4.40   7.20    Monday
1805   1004356  1004355      0.00  0.00   0.00   0.00   0.00   0.00    Monday

     start_time end_day  end_time
0      00:00:00  Monday  00:00:00
1      00:00:00  Monday  00:00:00
2      00:00:00  Monday  00:00:00
3      00:00:00  Monday  00:00:00
4      00:00:00  Monday  00:00:00
...         ...     ...       ...
1801   00:00:00  Monday  00:00:00
1802   00:00:00  Monday  00:00:00
1803   00:00:00  Monday  00:00:00
1804   00:00:00  Monday  00:00:00
1805   00:00:00  Monday  00:00:00

[1806 rows x 12 columns]